@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

:root {
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 197.12);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0 0 0);
	--primary-hover: oklch(0.2 0 0);
	--primary-foreground: oklch(1 0 0);
	--secondary: oklch(1 0 0);
	--secondary-foreground: oklch(0.27 0.05 229.72);
	--secondary-hover: oklch(0.985 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.5759 0.2279 13.86);
	--destructive-foreground: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--radius: 4px;
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);

	--input: oklch(1 0 0);
	--tab: oklch(0.97 0 0);
	--item-highlighted: oklch(0.94 0 165.07);
	--toast-background: oklch(0.4599 0.140416 252.6748);
	--toast-background-warning: oklch(0.6834 0.1817 41.61);
	--toast-background-success: oklch(0.5497 0.1855 142.14);
	--toast-background-danger: oklch(0.5759 0.2279 13.86);

	--toast-foreground: oklch(0.98 0 0);

	--tab-shadow: none;
	--input-ring: oklch(0.14 0 285.82 / 10%);
	--input-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	--primary-shadow: inset 0 1px 0 oklch(0.726 0.003 268), 0 1px 3px oklch(0 0 0 / 0.5);
	--destructive-shadow: inset 0 1px 0 oklch(0.637 0.237 25.331), 0 1px 3px oklch(0 0 0 / 0.5);
	--toast-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
	--toast-warning-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
	--toast-success-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
	--toast-danger-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;

	--alert-info: oklch(0.4599 0.140416 252.6748);
	--alert-success: oklch(0.5497 0.1855 142.14);
	--alert-danger: oklch(0.5759 0.2279 13.86);
	--alert-warning: oklch(0.6834 0.1817 41.61);

	--alert-foreground-info: oklch(0.98 0 0);
	--alert-foreground-success: oklch(0.98 0 0);
	--alert-foreground-danger: oklch(0.98 0 0);
	--alert-foreground-warning: oklch(0.178 0 0);

	--alert-info-shadow: rgba(0, 0, 0, 0.15) 0px 1px 8px;
	--alert-warning-shadow: rgba(0, 0, 0, 0.15) 0px 1px 8px;
	--alert-success-shadow: rgba(0, 0, 0, 0.15) 0px 1px 8px;
	--alert-danger-shadow: rgba(0, 0, 0, 0.15) 0px 1px 8px;
}

.dark {
	--background: oklch(0 0 0);
	--foreground: oklch(0.97 0 325.59);
	--card: oklch(0.24 0.02 284.84);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.2 0 0 / 0.8);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.98 0 0);
	--primary-hover: oklch(0.95 0 0);
	--primary-foreground: oklch(0 0 0);
	--secondary: oklch(0.28 0.01 285.67);
	--secondary-foreground: oklch(0.985 0 0);
	--secondary-hover: oklch(0.31 0.01 285.67);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.68 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.58 0.2 24.84);
	--destructive-foreground: oklch(0.637 0.237 25.331);
	--border: oklch(0.24 0.02 284.84);
	--ring: oklch(0.439 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(0.269 0 0);
	--sidebar-ring: oklch(0.439 0 0);

	--tab: oklch(0.28 0.01 285.42);
	--input: oklch(0.14 0 0);
	--item-highlighted: oklch(0.24 0 0 / 0.8);

	--toast-background: oklch(0.65 0.19 251.47);
	--toast-background-warning: oklch(0.77 0.17 64.17);
	--toast-background-success: oklch(0.58 0.16 146.62);
	--toast-background-danger: oklch(0.58 0.2 24.84);

	--toast-foreground: oklch(0.98 0 0);

	--tab-shadow: none;
	--input-ring: oklch(0.24 0.02 284.84 / 80%);
	--input-shadow: none;
	--primary-shadow: inset 0 1px 0 oklch(1 0 0), 0 1px 3px oklch(0 0 0 / 0.5);
	--destructive-shadow: none;

	--toast-shadow: inset 0 1px 0 oklch(0.6599 0.140416 252.6748), 0 3px 3px oklch(0 0 0 / 0.2);
	--toast-warning-shadow: inset 0 1px 0 oklch(0.59 0.13 48.05), 0 3px 3px oklch(0.15 0 0 / 0.9);
	--toast-success-shadow: inset 0 1px 0 oklch(0.74 0.18 149.4), 0 3px 3px oklch(0.15 0 0 / 0.9);
	--toast-danger-shadow: inset 0 1px 0 oklch(0.63 0.19 29.23), 0 3px 3px oklch(0 0 0 / 0.9);

	--alert-info: oklch(0.65 0.19 251.47);
	--alert-success: oklch(0.58 0.16 146.62);
	--alert-danger: oklch(0.58 0.2 24.84);
	--alert-warning: oklch(0.77 0.17 64.17);

	--alert-foreground-info: oklch(1 0 0);
	--alert-foreground-success: oklch(1 0 0);
	--alert-foreground-danger: oklch(1 0 0);
	--alert-foreground-warning: oklch(0.2 0 0);

	--alert-info-shadow: none;
	--alert-warning-shadow: none;
	--alert-success-shadow: none;
	--alert-danger-shadow: none;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-hover: var(--primary-hover);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary-hover: var(--secondary-hover);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--radius-sm: calc(var(--radius) - 1px);
	--radius-md: var(--radius);
	--radius-lg: calc(var(--radius) + 2px);
	--radius-xl: calc(var(--radius) + 4px);
	--color-sidebar: var(--sidebar);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-tab: var(--tab);
	--color-input: var(--input);
	--color-input-ring: var(--input-ring);
	--color-item-highlighted: var(--item-highlighted);
	--color-toast-background: var(--toast-background);
	--color-toast-background-warning: var(--toast-background-warning);
	--color-toast-background-success: var(--toast-background-success);
	--color-toast-background-danger: var(--toast-background-danger);


	--color-toast-foreground: var(--toast-foreground);

	--color-alert-info: var(--alert-info);
	--color-alert-success: var(--alert-success);
	--color-alert-danger: var(--alert-danger);
	--color-alert-warning: var(--alert-warning);

	--color-alert-foreground-warning: var(--alert-foreground-warning);
	--color-alert-foreground-info: var(--alert-foreground-info);
	--color-alert-foreground-success: var(--alert-foreground-success);
	--color-alert-foreground-danger: var(--alert-foreground-danger);

	--shadow-tab: var(--tab-shadow);
	--shadow-input: var(--input-shadow);
	--shadow-primary: var(--primary-shadow);
	--shadow-destructive: var(--destructive-shadow);

	--shadow-toast: var(--toast-shadow);
	--shadow-toast-warning: var(--toast-warning-shadow);
	--shadow-toast-success: var(--toast-success-shadow);
	--shadow-toast-danger: var(--toast-danger-shadow);

	--shadow-alert-info: var(--alert-info-shadow);
	--shadow-alert-warning: var(--alert-warning-shadow);
	--shadow-alert-success: var(--alert-success-shadow);
	--shadow-alert-danger: var(--alert-danger-shadow);
}
